*{
    border:groove;
    border-color:rgb(255, 0, 0);
}
body{
    background-image:url("http://4.bp.blogspot.com/-FyJuSNsRrWs/TibLzmYFU3I/AAAAAAAAK40/0BGwL0v2eyk/s1600/cool%2Bcomputer%2Bbackgrounds-2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.project{

    display:flex;
    justify-content:space-around;
}

.title{

    display:flex;
    justify-content:space-evenly;
    justify-content:space-between;

}

.body{

    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    justify-content:space-between;
}
